---
layout: layouts/base.webc
---
<style>{{ include "components/prism-ghcolors.css" }}</style>
<style>{{ include "components/prism-onedark.css" }}</style>
<style>{{ include "components/post.css" }}</style>

<h1>{{ title }}</h1>
<p class="post-meta">
  <small>First published on <time datetime="{{ page.date |> isoDate }}">{{ page.date |> readableDate }}</time></small>
  {{ if updated }}<br><small>Updated on <time datetime="{{ updated |> isoDate }}">{{ updated |> readableDate }}</time></small>{{ /if }}
</p>
{{ content }}
