---
title: Blog
description: Posts about technology, homelabbing, and self-hosting.
eleventyImport:
  collections: ["posts"]
eleventyNavigation:
  key: blog
  order: 3
redirect_from:
  - /blog
---
<style>{{ include "components/posts.css" }}</style>

<h1>Recent posts</h1>
{{ include "components/post-list.vto" { posts: collections.posts.toSorted((a, b) => b.date - a.date) } }}
